body {
    font-family: Arial, sans-serif;
    background-color: #F0F4F8;
    color: #003366;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
header {
    background-color: #003366;
    color: white;
    padding: 20px;
}

/* Event Sections */
.event-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.event-box {
    display: flex;
    align-items: center;
    width: 80%;
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.event-box img {
    width: 40%;
    border-radius: 10px;
    margin-right: 20px;
}

.event-box.reverse img {
    margin-right: 0;
    margin-left: 20px;
}

.event-text {
    width: 60%;
    text-align: left;
}

/* Prizes */
.prizes {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Event Schedule */
.event-schedule {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.timeline .event {
    margin: 10px 0;
}

/* Back Button */
.back-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #003366;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
